{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    
    <div class="example-wrapper">
        <h1>Article index</h1>

        <div class="portfolio-grid">
            {% for article in articles %}
                <div class="portfolio-card">

                    <div class="portfolio-card-image">
                        {{ article.id }}
                    </div>

                    <div class="portfolio-card-content">
                        <div class="portfolio-card-title">{{ article.title }}</div>
                        
                        <div class="portfolio-card-description">
                            {{ article.content }}
                        </div>

                        <div class="portfolio-card-tags">
                            <span class="tag">
                                {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
                            </span>
                            <span class="tag">
                                Published: {{ article.published ? 'Yes' : 'No' }}
                            </span>
                        </div>

                        <div style="margin-top: 15px;">
                            <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn" style="padding: 0.5rem 1rem; font-size: 0.8rem;">show</a>
                            <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn" style="padding: 0.5rem 1rem; font-size: 0.8rem;">edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>no records found</p>
            {% endfor %}
        </div>

        <div style="margin-top: 2rem;">
            <a href="{{ path('app_article_new') }}" class="btn">Create new</a>
        </div>
    </div>

{% endblock %}